.titulo{
    font-family: 'Climate Crisis', cursive;
    font-size: 20px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

img{
    width: 90px;
    height: 90px;
    border-top: 20px;
    cursor: pointer;
}


